
<div class="col-12 d-flex todo-single align-center">
    <input type="checkbox" class="col-1 todo-checkbox">
    <p class="col-9">Todo </p>
    <div class="col4 todo-block"> </div>

        <button type="button" class="btn btn-outline-lignt tex-danger col-1 del-btn">
        <i class="bi bi-trash3"></i>
        </button>
    </div>
   <!--liste fini-->    
<div class="todo-list mt-3"> </div>
<h5>Finished List</h5>
    <div class="col-12 d-flex todo-single align-center">
        <input type="checkbox" class="col-1 todo-checkbox">
        <p class="col-9">Todo </p>
        <div class="col4 todo-block"> </div>
    
            <button type="button" class="btn btn-outline-lignt tex-danger col-1 del-btn">
            <i class="bi bi-trash3"></i>
            </button>
            <div class="card" style="width: 18rem;">
  
        </div>
        <div class="center-container">
            
          </div>     
        
        