/* You can add global styles to this file, and also import other style files */
body {
    background: rgb(0, 123, 255)
}


.center-container h1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; 
  }